.container{
    position: absolute;
    height: 290px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    border:black 1px solid;
    padding: 20px;

}
.hr-with-text {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
    width: 30%;
  }


  .hr-with-text hr {
    flex-grow: 1;
    border: none;
    border-top: 1px solid #000;
    margin: 0 10px;

  }

  .hr-with-text span {
    font-weight: bold;
  }
.input{
    padding:0;
    margin-bottom:0;
    
    
  }
 

  .link1{
    text-align: right;
    margin-top: 0px;
    padding:8p
    
  }
  a:visited {
    color: blue
  }
.continue{
    width: 300px;
    padding:8px;
    margin-top: 20px;    background-color:gold
    
    
}
.create{
    position: relative;
    top: 400px;
    left: 562px;
    width: 300px;
    padding:8px;
    background-color:gold

}
h5{
    padding: 0;
    margin: 5px;
    font: size 14px;

}
.pass{
    margin:7px;
    font: size 14px;
}
.question{
     position: relative;
     text-align: center;
    top: 380px;
    left: 562px;
    width: 300px;
    padding:0px;
    }
hr{
    position: relative;
   top: 485px;

   width: 100%;
   padding:0px;
   }
nav{
    position: relative;
    top: 480px;
    width: 100%;
    padding:0px;
}
ul{
    text-align: center;
    list-style-type:none;
    padding: 0px;
    margin: 0px;

}
li{

    display: inline-block;
    display: inline-block;
    margin-right: 10px;
    ;
}
h6{
    position: relative;
   text-align: center;
    top: 480px;
    width: 100%;
    padding:0px;
    margin: 5px;
}

img{
    position: relative;
    top:10px;
    left: 605px;
    width: 200px;
    padding:0px;
    margin: 0px;
    }
    
